/* =========================
   VARIÁVEIS
   ========================= */
:root {
    --cor-principal: #333;
    --cor-texto: white;
    --espacamento: 20px;
    --cor-fundo-aside: #eee;
    --cor-fundo-main: #f5f5f5;
    --cor-fundo-card: #0B0C10;
    --cor-texto-card: #eee;
    --cor-borda-card: #1A1A24;
    --cor-sombra-card: #1F2833;
    --cor-botao-card: purple  ;
    --cor-fundo-tabela: #121214;
    --cor-cabecalho-tabela: #2E1A47;
    --cor-borda-tabela: #00D2FF;
    --cor-texto-tabela: #F8F9FA;

}
/* =========================
   CONFIGURAÇÕES
   ========================= */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: black;
}
/* =========================
   LAYOUT 01
   MENU
   ========================= */
.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--espacamento);
    background-color: var(--cor-principal);
}
.menu h1 {
    margin: 0;
}
.menu nav {
    display: flex;
    gap: 20px;
}
.menu a {
    color: var(--cor-texto);
    text-decoration: none;
}
/* =========================
   LAYOUT 01
   CONTEÚDO
   ========================= */
.conteudo {
    padding: 40px;
    text-align: center;
    min-height: 400px;
}
.conteudo h2 {
    margin-bottom: 10px;
}
/* =========================
   LAYOUT 01
   RODAPÉ
   ========================= */
.rodape {
    padding: var(--espacamento);
    text-align: center;
    background-color: var(--cor-principal);
    color: var(--cor-texto);
}
/* =========================
   LAYOUT 04
   DUAS COLUNAS
   ========================= */
.layout-duas-colunas {
    display: grid;
    grid-template-columns: 30% 70%;
    gap: var(--espacamento);
    padding: var(--espacamento);
}
.layout-duas-colunas aside {
    padding: var(--espacamento);
    background-color: var(--cor-fundo-aside);
}
.layout-duas-colunas main {
    padding: var(--espacamento);
    background-color: var(--cor-fundo-main);
}
/* =========================
   LAYOUT 01
   RESPONSIVIDADE DO CELULAR
   ========================= */
@media (max-width: 600px) {
    .menu {
        flex-direction: column;
        gap: 15px;
    }
    .menu nav {
        gap: 10px;
    }
    .conteudo {
        padding: 20px;
    }
}
/* =========================
   LAYOUT 01
   RESPONSIVIDADE DO TABLET
   ========================= */
@media (min-width: 601px) and (max-width: 900px) {
    .menu {
        padding: 15px;
    }
    .menu nav {
        gap: 15px;
    }
    .conteudo {
        padding: 30px;
    }
}
/* =========================
   LAYOUT 04
   RESPONSIVIDADE - CELULAR
   ========================= */

@media (max-width: 600px) {
    .layout-duas-colunas {
        grid-template-columns: 1fr;
    }
}

/*=========================
   LAYOUT 03
   CARDS - ESTILIZAÇÃO
   ========================= */

   @media (max-width: 720px) {
    .cards {
        flex-direction: column;
        align-items: center;
    }
   }
   .cards{
    display: flex;
    gap: 200px;
   }
   .card{
    font-family: Arial, sans-serif;
    color: var(--cor-texto-card);
    width: 300px;
    padding: 20px;
    background-color: var(--cor-fundo-card);
    border-radius: 15px;
    border: solid 1px #1A1A24;
    box-shadow: 0px 4px 10px #1F2833
   }
   .card img{
    width: 200px;
    height: 600px;
    object-fit: cover;
   }
   .card-conteudo{
    padding: 10px;
   }
   .card-button{
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--cor-botao-card);
    color: var(--cor-texto-card);
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
   }
   /*=========================
    LAYOUT 06 - TABELA DE PREÇOS
    ========================= */

    @media (max-width: 720px) {
        .tabela-precos {
            flex-direction: column;
            align-items: center;
        }
    }
    .tabela{
        display: flex;
        gap: 200px;
    }

    .tabela{
        font-family: Arial, sans-serif;

        width: 300px;
        padding: 20px;
        background-color: var(--cor-fundo-tabela);
        border-radius: 15px;
        border: solid 1px var(--cor-borda-tabela);
        box-shadow: 0px 4px 10px #1F2833
    }

    .tabela th{
        background-color: var(--cor-cabecalho-tabela);
        color: var(--cor-texto-tabela);
        padding: 10px;
    }
    .tabela td{
        padding: 10px;
        color: var(--cor-texto-tabela);
    }